{% extends 'main_app/base.html' %}
{% load static %}
{% block page_title %}{{ page_title }}{% endblock page_title %}
{% block content %}

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-dark">
                    <div class="card-header">
                        <h3 class="card-title">{{ page_title }}</h3>
                    </div>

                    <!-- /.card-header -->
                    <!-- form start -->
                    <div class="card-body">
                        <form id="attendance_form">
                            <div class="form-group">
                                <label for="subject">Subject</label>
                                <select name="subject" class="form-control" id="subject">
                                    <option value="">----</option>
                                    {% for subject in subjects %}
                                    <option value="{{ subject.id }}">{{ subject.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="session">Session</label>
                                <select name="session" class="form-control" id="session">
                                    <option value="">----</option>
                                    {% for session in sessions %}
                                    <option value="{{ session.id }}">{{ session }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <button type="button" id="fetch_attendance" class="btn btn-success btn-block">Fetch Attendance</button>
                        </form>
                        <hr>
                        <div class="table-responsive" id="attendance_table_div" style="display: none;">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Student Name</th>
                                        <th>Present Days</th>
                                        <th>Absent Days</th>
                                        <th>Attendance Percentage</th>
                                    </tr>
                                </thead>
                                <tbody id="attendance_table_body">
                                    <!-- Attendance data will be dynamically added here -->
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock content %}

{% block custom_js %}
<script>
    $(document).ready(function () {
        $("#fetch_attendance").click(function () {
            var subject = $("#subject").val();
            var session = $("#session").val();
            if (session.length < 1 || subject.length < 1) {
                alert("Kindly choose both Subject and Session");
                return false;
            }
            $.ajax({
                url: "{% url 'staff_attendance_percentage' %}",
                type: 'POST',
                data: {
                    subject: subject,
                    session: session
                },
                success: function (response) {
                    var attendanceData = response.attendance_data;
                    var html = "";
                    $.each(attendanceData, function(index, data) {
                        html += "<tr>" +
                            "<td>" + (index + 1) + "</td>" +
                            "<td>" + data.students.map(function(student) { return student.name; }).join(", ") + "</td>" +
                            "<td>" + data.present_days + "</td>" +
                            "<td>" + data.absent_days + "</td>" +
                            "<td>" + data.attendance_percentage + "%</td>" +
                            "</tr>";
                    });
                    $("#attendance_table_body").html(html);
                    $("#error_attendance").html("");
                    $("#error_attendance").hide();
                    $("#attendance_table_div").show();
                },
                error: function (xhr, status, error) {
                    console.error(xhr.responseText);
                }
            });
        });
    });
</script>
{% endblock custom_js %}
